.containerPrice {
  display: flex;
}

.price {
  margin-bottom: var(--spacer-lg);
  font-size: var(--font-xlg);
  font-weight: 400;
}

.minorPrice {
  font-size: var(--spacer-md);
}

.priceDecimal {
  font-size: 1.2rem;
  font-weight: bold;
}

.freeShipping {
  height: 18px;
  width: 18px;
  margin-left: var(--spacer-ssm);
}