.container {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spacer-sm);
  width: 100%;
}

.container a {
  font-size: var(--font-sm);
  color: var(--gray-dark);
}

.container a:last-child {
  font-weight: bold;
}

.container a:last-child::after {
  display: none
}

.container a::after {
  content: '>';
  padding: 0 var(--spacer-ssm);
}